body {
    font-family: Arial, sans-serif;
}

.converter-box {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #252323;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #9e89ec;
    color: rgb(7, 6, 6);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #e686c1;
}